.browserResultsContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('https://media4.giphy.com/media/J21KMoLpEPwHJ0nsV1/giphy.gif');
    background-size: cover;
}

.browserResultsBox {
    background-color: rgba(255,255,255,0.7);
    width: 50%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 40px;
    padding: 10px;
}

.noFlightsBox {
    font-size: 3em;
    color: black;
}

.browserResultsHeader {
    font-size: 3em;
    margin: 20px;
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

.loaderWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
