.menuContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menuContainerActive {
    background-color: aliceblue;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.routeBox {
    background-color: aliceblue;
    padding: 10px;
}

.routeBox:hover {
    background-color: rgb(208, 211, 212);
}

.routeText {
    color: black;
    text-decoration: none;
}

.menuButtonWrapper {
    color: white;
    cursor: pointer;
}

.menuButtonWrapperActive {
    color: black;
    cursor: pointer;
}