.navigationButtonContainer {
    background-color: rgb(255, 20, 40);
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
}

.navigationButtonContainer:hover {
    background-color: rgb(190, 0, 16);
}

.navigationButtonText {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}