.nunito-sans {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: Nunito;
}

.app-container {
  width: 100%;
  min-height: 100vh;
}

.menu-container {
  background-color: rgb(51, 51, 51);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  height: 10vh;
  width: 100%;
  transition: 1.5s ease-out;
}

.menu-container.transparent {
  background-color: transparent;
}

.header-container {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-buttons {
  display: flex;
  height: 100%;
  width: 85%;
}

.menu-buttons a.active {
  color: rgb(255, 255, 255);
}

.menu-button-container {
  display: flex;
  align-items: center;
  justify-content: center;                                                                                                                                                                                                                                                                                                                                                                             
  height: 100%;
  margin-right: 5%;
}

.menu-button-text {
  text-decoration: none;
  color: rgb(189, 182, 182);
}

.home-container {
  height: auto;
}

.home-header-section {
  background-image: url('./assets/home-background.png');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-header-title {
  font-size: 4em;
  color:white;
}

.home-header-desc {
  font-size: 2em;
  color:white;
}

.home-main-section {
  background-color: white;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
}

.home-main-header {
  margin-top: 5%;
}

.location-form-container {
  width: 45%;
  height: 22.5vh;
  border: 1px solid black;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 2%;
  width: 70%;
  position: relative;
}

.form-input {
  padding: 5px;
  position: relative;
  z-index:1;
}

.form-label {
  font-size: .8em;
}

.form-submit {
  padding: 5px 10px;
  background-color: rgb(46, 46, 255);
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5% 10px;
  font-size: 1em;
  font-weight: 100;
  transition: .5s;
}

.form-submit:hover {
  background-color: rgb(9, 9, 158);
}

.plane-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plane-list-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plane-row-container {
  width: 40%;
  background-color: white;
  height: 10vh;
  margin: 2vh;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.plane-list-not-found {
  margin: 10vh;
  color: red;
}

.plane-row-arrow-container {
  height: 100%;
}

.plane-row-airport-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}

.plane-row-date {
  font-size: 1.5em;
  color:rgb(51, 51, 51);
}

.plane-row-arrow-image {
  height: 100%;
}

.suggestions-list-container {
  display: flex;
  flex-direction: column; 
  width: 100%;
  align-self: flex-start;
  position: absolute;
  z-index: 9;
  margin-top: 50px;
}

.suggestion-list-item {
  padding: 10px;
  background-color: whitesmoke;
  border: 1px solid black;
  box-sizing: border-box;
}

.suggestion-list-item:hover {
  background-color: royalblue;
  color: white;
}

.browser-container {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(215, 216, 216);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('./assets/browser-background.png');
  background-size: cover;
}

.flight-form-container {
  background-color: white;
  width: 60%;
  height: 45vh;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10% 5% 2% 5%;
}

.form-error-container {
  display: flex;
  flex-direction: column;
  color: red;
  font-size: 0.7em;
  margin-top: 2%;
  width: 70%;
  justify-content: start;
}

.admin-panel-container {
  width: 100%;
  height: 100vh;
  background-color: #22303c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5%;
}

.admin-panel-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
}

.default-form-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 17vh;
  padding: 10px 20px;
  border-radius: 5px;
}

.admin-form-container {
  width: 40%;
  height: 32vh;
  background-color: white;
  border-radius: 5px;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.admin-panel-header {
  color: white;
}

.checkout-container {
  width: 100%;
  min-height: 100vh;
  background-color: #22303c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
  gap: 5vh;
}

.checkout-header {
  color: white;
}

.ticket-container {
  width: 40%;
  height: 25vh;
  background-color: white;
  border-radius: 10px;
}

.ticket-header {
  background-color: rgb(89, 89, 250);
  color: white;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  display: flex;
  align-items: center;
  height: 10vh;
}

.ticket-header-text {
  width: 70%;
  text-align: center;
  font-weight: 100;
}

.ticket-body {
  display: flex;
}

.ticket-col {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: column;
  width: 50%;
  height: 15vh;
  padding-left: 10%;
}

.seats-container {
  width: 100%;
  min-height: 100vh;
  padding: 10vh 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
}

.seats-plane-image {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.seat-container {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

.seat-container:hover {
  background-color: green;
}

.first {
  background-color: gold;
}

.business {
  background-color: rgb(117, 117, 224);
}

.marked {
  background-color: grey;
}

.taken {
  background-color: red;
}

.taken:hover {
  background-color: red;
}

.seats-container-rows {
  display: grid;
  grid-gap: 2px 25px;
}

.seats-container-rows.small {
  grid-template-columns: repeat(2, 1fr);
  margin-top: 15vh;
}

.seats-container-rows.medium {
  grid-template-columns: repeat(6, 1fr);
  margin-top: 5vh;
}

.seats-container-rows.big {
  grid-template-columns: repeat(7, 1fr);
  margin-top: 5vh;
}






